#page_wrapper {
  max-width: 960px;
  color: #4a4a4a;
  margin: 0 auto;
}
header{
  position: absolute;
  top: 60px;
  right: 55px;  
  display: block;
  float: right;
  width: 678px;
  height: 400px; 
} 
header ul.menu {
  display: inline-block;
  list-style: none;
  padding:0;
  margin: 0;
}
header ul.menu li {
  float: left;
  list-style: none;
}
header ul.menu li a {
  display: block;
  width: auto;
  font: normal 12pt "Verdana", sans-serif;
  color: #4a4a4a;
  text-decoration: none;
  padding: 5px 0 0 0;
}
#search {
  float: right;
  width: 235px;
  height: 29px; 
}
#search input {
  float: left;
  border: none;
}
#search .input {
  width: 188px;
  height: 28px;
  font: normal 100% "Verdana", sans-serif;
  outline: none;
  padding: 0 37px 1px 15px;
  background: url(images/search.png) no-repeat;
}
#search .input:focus {
  color: #333;
  background-color: #E8E8E8;
  background-position: 0 -29px;	
}
#search .submit {
  margin-left: -37px;
  width: 37px;
  height: 29px;
  cursor: pointer;
  background: url(dontexist.png);
}
#logo{
  position: absolute;
  top: 25px;
  left: 173px;
  float: left;
}
#slider {
  position:  relative;
  top: 50px;
  left: 0;
  display: block;
  float: left;
  width: 960px;  
  height: 400px;   
}
#preview { 
  position: relative;
  top: 20px;
  display: inline-block;
  float: left;
  width: 970px;
  height: 270px;
  font: Verdana, sans-serif;
}
#content{
  position: relative;
  top: 20px;
  display: block;
  float: left;  
  width: 960px;
  height: 400px;
  overflow: auto;  
}
#postview{
  position: relative;
  top: 10px;
  display: block;
  float: left;
  width: 670px;
  height: 250px;
  font: normal 10.5pt "Verdana", sans-serif; 
  padding: 15px 15px 0 15px;  
  background: #e3e3e3;
  border: none;  
}
#image{  
  position: relative;
  top: -255px;
  right: -10px;
  display: block;
  float: right;
  width: 270px;
  height: 880px;
  background:#c2c2c2;
  border: none;
}
#news{
 position: relative;
 top:20px;
 left: -120px;
 display: block;
 float: left;
 width: 330px; 
 font: Verdana, sans-serif;
 text-decoration: none;
 margin-left:120px;
 border-right: 2px solid #DCDCDC;
}
#videos{
 position: relative;
 top: -611px;
 display: block;
 float: right;
 width: 330px; 
 padding-top: 20px;
 margin-left: 120px;
}
#topfooter {
  position: relative;
  top: -600px;
  display: block;
  float: left;
  width: 940px;
  height: 180px; 
  padding: 10px 15px 10px 15px;
  background: #404040;
}
#topfooter ul.menu {
  display: inline-block;
  list-style: none;
  padding:0;
  list-style: none;
}
#topfooter ul.menu li {
  float: left;
  list-style: none;
}
#topfooter ul.menu li a {
  display: block;
  width: 170px;
  font: normal 12pt "Verdana", sans-serif; 
  color: #d4d4d4;
  text-decoration: none;
  padding: 0;
}
#topfooter ul.menu li ul {
  display: none;
}
#topfooter ul.menu li ul {
  position: absolute;
  display: block;   
}
#topfooter ul.menu li ul li {
  float: none;
}
#topfooter ul.menu li ul li a {
  width: 170px;
  font-size:10pt !important; 
} 
footer{
 position: relative;
 top: -600px;
 display: inline;
 float: left;
 width: 940px;
 height: 65px;
 font: normal 11pt "Arial", sans-serif; 
 color: #ffffff;
 padding: 0 15px 10px 15px;
 background: #000000; 
}
html, body {
  height: 100%; 
  margin: 0;
}
#page {
  display: table; 
  width: 100%;
}
html>
body #page { height: 100%; }
*:first-child+html #page { height: auto; }
.section { display: table-row; }
html>
body .section-content { height: 100%; }
*:first-child+html body .section-content { height: auto; }